NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:5173,http://172.24.32.1:5173

DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

JWT_SECRET=change-this-secret

EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=
EMAIL_PASS=

SALES_DEFAULT_EMAIL=
SALES_ER_SARATH_EMAIL=
SALES_DHARSHIHA_EMAIL=
SALES_LEEJIN_EMAIL=
SALES_EMAIL_1=
SALES_EMAIL_2=
SALES_EMAIL_3=

SUPPORT_EMAIL=
SUPPORT_PHONE=
COMPANY_PHONE=
COMPANY_WEBSITE=https://www.manodtechnologies.com
PROJECT_MANAGER_PHONE=
TRAINING_MEETING_LINK=
FEEDBACK_URL=

COMPANY_PROFILE_PATH=
BROCHURE_PATH=
PRODUCT_CATALOG_PATH=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TWILIO_FROM_NUMBER=
